@import "bootstrap-sprockets";
@import "bootstrap";

// CUSTOM

body {
  background-color: #ededed;
}

input[type='text'], textarea {
  width: 100%;
}

textarea {
  height: 200px;
  resize: none;
}

.center {
  text-align: center;
}

.main-home {
  margin-top: 50px;
  margin-bottom: 50px;
  background: url('http://cdn.wall-pix.net/albums/art-abstract/00027784.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 338px;
}

.main-home p {
  margin-top: 50px;
  color: #fff;
}

.blog {
  background-color: #fff;
  min-height: 200px;
  margin-bottom: 10px;
}

.comments {
  margin-top: 50px;
}
